### Heroes Of Pymoli Data Analysis

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
purchase_data.head()
players = [{"Total Players": purchase_data["SN"].nunique()}]
pd.DataFrame(players)

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchase_data.head()
purchase_analysis = [{"Total Players": purchase_data["SN"].nunique(),
          "Average Price": "${:.2f}".format(purchase_data["Price"].mean()),
          "Number of Purchases": purchase_data["Purchase ID"].count(),
          "Total Revenue": purchase_data["Price"].sum()}]
pd.DataFrame(purchase_analysis)

   Total Players Average Price  Number of Purchases  Total Revenue
0            576         $3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
unique_SNs = purchase_data.drop_duplicates(subset="SN")
gen_unique_SNs = unique_SNs[["Gender"]].value_counts()
pd.DataFrame(gen_unique_SNs)
#I don't know where the zero above the second column came from.

                         0
Gender
Male                   484
Female                  81
Other / Non-Disclosed   11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchase_data.pivot_table(values = "Price", index = "Gender", aggfunc = [len, np.mean, np.sum])
#This is what I have so far. I'm working on figuring out how to do average total purchase per person and change the column labels.

                         len      mean      sum
                       Price     Price    Price
Gender
Female                 113.0  3.203009   361.94
Male                   652.0  3.017853  1967.64
Other / Non-Disclosed   15.0  3.346000    50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create bins and bin labels for the Age column

age_bins = [0, 9, 14, 19, 24, 29, 34, 40, 150]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Bin the Age column
# cut() returns a Pandas Series containing each of the binned column's values translated into their corresponding bins

pd.cut(purchase_data["Age"], age_bins, labels=age_labels)

# Append our bins to purchase_data
purchase_data["Age"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)
purchase_data

# Group by our bins
purchase_data_byage = purchase_data.groupby("Age")
purchase_data_byage[["SN"]].nunique()
#Still figuring out how to calculate the percentage of total players and change the column labels.

        SN
Age
<10     17
10-14   22
15-19  107
20-24  258
25-29   77
30-34   52
35-39   36
40+      7

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame