### Heroes Of Pymoli Data Analysis

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
purchase_data.head()
players = [{"Total Players": purchase_data["SN"].nunique()}]
pd.DataFrame(players)

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
item_count_unique = purchase_data["Item ID"].unique()

avg_price = purchase_data["Price"].mean()

purchase_count = purchase_data["Purchase ID"].count()

total_rev = purchase_data["Price"].sum()

purchase_data.head()
purchase_analysis = [{"Total Players": purchase_data["SN"].nunique(),
          "Average Price": "${:.2f}".format(purchase_data["Price"].mean()),
          "Total Purchase Value": "${:.2f}".format(purchase_data["Price"].sum()),
          "Total Revenue": "${:.2f}".format(purchase_data["Price"].sum())}]
summary_df = pd.DataFrame(purchase_analysis)
summary_df

   Total Players Average Price Total Purchase Value Total Revenue
0            576         $3.05             $2379.77      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
total_players = purchase_data.nunique()["SN"]

#Group purchase_data by Gender
gender_grp = purchase_data.groupby("Gender")

#Count total screen names "SN" by Gender
gender_count = gender_grp.nunique()["SN"]

#Total count by Gender and divide by total players
percent_players_gender = gender_count/total_players*100

#Create DataFrame with obtained values
gender_demo = pd.DataFrame({"Total Count":gender_count,"Percentage of Players":percent_players_gender})

#Format DataFrame w/ no index name in corner
gender_demo.index.name = None

#Format values sorted by total count in desc order, w/ 2 decimal pts for percentage
gender_demo.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
gender_analysis_grp = purchase_data.groupby("Gender")


gender_analysis_purchase_ct = gender_analysis_grp["Purchase ID"].count()
gender_analysis_avg_price = gender_analysis_grp["Price"].mean()
gender_analysis_total_value = gender_analysis_grp["Price"].sum()
gender_analysis_avg_per_person = gender_analysis_total_value/gender_analysis_grp["SN"].nunique()


#percent_cleared_crimes_by_state_and_year = sum_cleared_crimes_by_state_and_year / sum_actual_crimes_by_state_and_year * 100



purchase_data_gender_analysis = pd.DataFrame({"Purchase Count":gender_analysis_purchase_ct,
                                           "Average Purchase Price":gender_analysis_avg_price,
                                           "Total Purchase Value":gender_analysis_total_value,
                                           "Average Total Purchase per Person":gender_analysis_avg_per_person})

purchase_data_gender_analysis.index.name = "Gender"
purchase_data_gender_analysis.style.format({"Average Purchase Price":"{:.2f}","Total Purchase Value":"{:.2f}","Average Total Purchase per Person":"{:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# Create bins and bin labels for the Age column

age_demo_bins = [0, 9, 14, 19, 24, 29, 34, 40, 150]
age_demo_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Bin the Age column
# cut() returns a Pandas Series containing each of the binned column's values translated into their corresponding bins

pd.cut(purchase_data["Age"], age_demo_bins, labels=age_demo_labels)

# Append our bins to purchase_data
purchase_data["Age"] = pd.cut(purchase_data["Age"], age_demo_bins, labels=age_demo_labels)
purchase_data

# Group by our bins
purchase_data_age_demo = purchase_data.groupby("Age")
purchase_data_age_demo = purchase_data_age_demo[["SN"]].nunique()
purchase_data_age_demo["Percentage of Players"]=purchase_data_age_demo["SN"]/purchase_data_age_demo["SN"].sum()*100
purchase_data_age_demo=purchase_data_age_demo.rename(columns={"SN":"Person Count"})
purchase_data_age_demo
purchase_data_age_demo.style.format({"Percentage of Players":"{:.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Create bins and bin labels for the Age column

age_analysis_bins = [0, 9, 14, 19, 24, 29, 34, 40, 150]
age_analysis_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Bin the Age column
# cut() returns a Pandas Series containing each of the binned column's values translated into their corresponding bins

pd.cut(purchase_data["Age"], age_analysis_bins, labels=age_analysis_labels)

# Append our bins to purchase_data
purchase_data["Age"] = pd.cut(purchase_data["Age"], age_analysis_bins, labels=age_analysis_labels)
purchase_data

purchase_data_age_grp = purchase_data.groupby("Age")

age_analysis_purchase_count = purchase_data_age_grp["Purchase ID"].count()
age_analysis_avg_price = purchase_data_age_grp["Price"].mean()
age_analysis_total_value = purchase_data_age_grp["Price"].sum()
age_analysis_avg_per_person = age_analysis_total_value/purchase_data_age_grp["SN"].nunique()


#percent_cleared_crimes_by_state_and_year = sum_cleared_crimes_by_state_and_year / sum_actual_crimes_by_state_and_year * 100



purchase_data_age_analysis = pd.DataFrame({"Purchase Count":age_analysis_purchase_count,
                                           "Average Purchase Price":age_analysis_avg_price,
                                           "Total Purchase Value":age_analysis_total_value,
                                           "Average Total Purchase per Person":age_analysis_avg_per_person})

purchase_data_age_analysis.index.name = None
purchase_data_age_analysis.style.format({"Average Purchase Price":"{:.2f}","Total Purchase Value":"{:.2f}","Average Total Purchase per Person":"{:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
total_players = purchase_data.nunique()["SN"]

#Group purchase_data by screen name ("SN")
spender_grp = purchase_data.groupby("SN")

#Count total screen names "SN" by Gender
sp_purchase_count = spender_grp["Purchase ID"].count()

#avg purchase price
sp_avg_purchase_price = spender_grp["Price"].mean()

#total purchase price
sp_total_purchase_value = spender_grp["Price"].sum()

#Total count by Gender and divide by total players
#avg_purchase_price = spender_count/total_players*100

#Create DataFrame with obtained values
top_spenders = pd.DataFrame({"Purchase Count":sp_purchase_count,
                             "Average Purchase Price":sp_avg_purchase_price, 
                             "Total Purchase Value":sp_total_purchase_value})

#Format DataFrame w/ no index name in corner
top_spenders.index.name = None

#Format values sorted by total count in desc order

top_spenders.sort_values(["Total Purchase Value"], ascending = False)
summary_top_spenders = pd.DataFrame(top_spenders)
summary_top_spenders.sort_values(["Total Purchase Value"], ascending = False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
#Most popular items

#Group purchase_data by screen name ("SN")
item_grp = purchase_data.groupby(["Item ID", "Item Name"])

item_name=item_grp["Item Name"]

#Count total screen names "SN" by Gender
item_purchase_count = item_grp["Item Name"].count()

#avg purchase price
item_price = "Price"

#total purchase price
item_total_purchase_value = item_grp["Price"].sum()

#Total count by Gender and divide by total players
#avg_purchase_price = spender_count/total_players*100

#Create DataFrame with obtained values
items = pd.DataFrame({"Purchase Count":item_purchase_count,
                              "Item Price":item_price,
                              "Total Purchase Value":item_total_purchase_value})

#Format DataFrame w/ no index name in corner
items.index.name = None

#Format values sorted by total count in desc order, w/ 2 decimal pts for percentage

items.sort_values(["Purchase Count"], ascending = False)
summary_popular_items = pd.DataFrame(items)
summary_popular_items.sort_values(["Purchase Count"], ascending = False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,Price,50.76
145,Fiery Glass Crusader,9,Price,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,Price,31.77
82,Nirvana,9,Price,44.10
19,"Pursuit, Cudgel of Necromancy",8,Price,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [14]:
items.sort_values(["Total Purchase Value"], ascending = False)
summary_profitable_items = pd.DataFrame(items)
summary_profitable_items.sort_values(["Total Purchase Value"], ascending = False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,Price,50.76
82,Nirvana,9,Price,44.10
145,Fiery Glass Crusader,9,Price,41.22
92,Final Critic,8,Price,39.04
103,Singed Scalpel,8,Price,34.80